@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #14141b;
}

.text_content {
    text-align: center;
    font-family: Ubuntu-Medium;
    font-size: 28px;
    color: #4d648d;
}
