@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}


body {
    padding: 0px;
    margin: 0px;
    background-color: #14141b;
}

.text_about_us {
    text-align: center;
    font-family: Ubuntu-Medium;
    font-size: 28px;
    color: #4d648d;;
}

#back input[type=submit] {
    background: rgb(28, 30, 33);
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin-left: 7%;
    position: relative;
    overflow: hidden;
    border: 2px solid #4d648d;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #4d648d;
    transition: .2s ease-in-out;
}

#back input[type="submit"]:before {
    content: "";
    background: #011f38;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

#back input[type="submit"]:hover {
    background-color: #4d648d;
    background-color: #fff;
}

#back  p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#back  p>a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#back p>a:hover {
    border-bottom: 1px solid;
}