@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

body {
    background-color: #14141b;
    padding: 0px;
    margin: 0px;
}

.addManager {
    max-width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.addManager h2 {
    text-align: center;
    font-family: Ubuntu-Medium, serif;
    font-size: 28px;
    color: #4d648d;
}

#add_manager input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#add_manager input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#add_manager input[type="text"],
#add_manager input[type="password"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    /*Prevent yellow autofill color*/
    color: #d0e1f9;
}

#add_manager input[type="text"],
#add_manager input[type="password"] {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 350px;
    height: 60px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#add_manager input[type="text"]:focus,
#add_manager input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

#add_manager p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#add_manager p>a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#add_manager p>a:hover {
    border-bottom: 1px solid;
}

#add_manager input[type=submit] {
    background: rgb(28, 30, 33);
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 36%;
    position: relative;
    overflow: hidden;
    border: 2px solid #4d648d;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #4d648d;
    transition: .2s ease-in-out;
}

#add_manager input[type="submit"]:before {
    content: "";
    background: #011f38;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

#add_manager input[type="submit"]:hover {
    background-color: #4d648d;
    background-color: #fff;
}

#add_manager p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#add_manager p>a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#add_manager p>a:hover {
    border-bottom: 1px solid;
}

.managers {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.managers h1 {
    font-family: Ubuntu-Medium;
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: #4d648d;
}

.managers table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #ffd300;
    font-size: 15px;
    background: #fff!important;

}

.managers table th {
    font-weight: bold;
    padding: 7px;
    background: #ffd300;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #ffd300;
}

.managers td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}

.managers tbody tr:nth-child(even){
    background: #f8f8f8!important;
}
